<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Weeding</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <!-- <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png"> -->
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/themify-icons.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nice-select.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flaticon.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flaticon.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='ccss/gijgo.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/slicknav.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>
    <div class="weeding_countdown_area">
        <div class="flowaers_top d-none d-lg-block">
            <img src="{{ url_for('static', filename='img/banner/flower-top.png') }}" alt="">
        </div>
        <div class="flowaers_bottom d-none d-lg-block">
                <img src="{{ url_for('static', filename='img/banner/flower-bottom.png') }}" alt="">
            </div>
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center">
                        <img src="{{ url_for('static', filename='img/banner/flowers.png') }}" alt="">
                        <span>Спасибо за вашу регистрацию!</span>
                                    <p>Мы очень рады, что вы сможете присоединиться к нашему особенному дню. Мы с нетерпением ждем встречи с вами на свадьбе!
Если у вас возникнут вопросы или вам нужно будет что-то уточнить, не стесняйтесь связаться с нами. Мы всегда рады помочь.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">

            <a href="/" class="btn">Вернуться на главную</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

        </div>
    </div>
    <!-- JS here -->
    <script src="{{ url_for('static', filename='js/vendor/modernizr-3.5.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/jquery-1.12.4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/isotope.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ajax-form.js') }}"></script>
    <script src="{{ url_for('static', filename='js/waypoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.counterup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/imagesloaded.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scrollIt.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.scrollUp.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/wow.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/nice-select.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/gijgo.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.countdown.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.slicknav.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jjs/plugins.js') }}"></script>

    <!--contact js-->
    <script src="{{ url_for('static', filename='js/contact.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.ajaxchimp.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.form.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.validate.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/mail-script.js') }}"></script>

    <script src="{{ url_for('static', filename='js/main.js')}}"></script>

    <script>
        $('#clock').countdown('2025/05/22', function (event) {
            $(this).html(event.strftime(
                '<div class="countdown_wrap d-flex"><div  class="single_countdown"><h3>%D</h3><span>Дней</span></div><div class="single_countdown"><h3>%H</h3><span>Часов</span></div><div class="single_countdown"><h3>%M</h3><span>Минут</span></div><div class="single_countdown"><h3>%S</h3><span>Секунд</span></div></div>'
            ));
        });
    </script>
    <script>
        function initMap() {
            var uluru = {
                lat: -25.363,
                lng: 131.044
            };
            var grayStyles = [{
                    featureType: "all",
                    stylers: [{
                            saturation: -90
                        },
                        {
                            lightness: 50
                        }
                    ]
                },
                {
                    elementType: 'labels.text.fill',
                    stylers: [{
                        color: '#ccdee9'
                    }]
                }
            ];
            var map = new google.maps.Map(document.getElementById('map'), {
                center: {
                    lat: -31.197,
                    lng: 150.744
                },
                zoom: 9,
                styles: grayStyles,
                scrollwheel: false
            });
        }
    </script>



</body>

</html>